
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d3d3d3;
  background-color: rgb(16, 15, 16);
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: 50px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-size: 15px;
  font-weight: 400;
}
p.date {
  font-size: 10px;
  color: lightgray;
}
p.in {
  color: rgb(140, 167, 93);
}
p.out {
  color: rgb(230, 48, 48);
}
