body {
  width: 100%;
  height: 100%;
}

.seccion {
  margin: 1%;
  padding: 1%;
  border: 1px solid black;
}

.menu-MS {
  padding: 1%;
  margin-bottom: 1%;
  border: 1px solid black;
  flex-grow: 2;
  display: flex;
}

.menu {
  width: 250px;
  height: 700px;
  margin-right: 1%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-aside {
  padding: 1%;
  background-color: lightgray;
  border: 1px solid black;
  flex-grow: 2;
  display: flex;
}

.main {
  background-color: white;
  border: 1px solid black;
  margin-right: 1%;
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  background-color: white;
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: lightgray;
  padding: 1%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
