* {
  background-color: rgb(150, 245, 163);
}
#mandarin {
  color: orange;
}
#apple {
  color: red;
}
#orange {
  color: orange;
}
#banana {
  color: yellow;
}
#kiwi {
  color: green;
}
#pineapple {
  color: lightgoldenrodyellow;
}
#coconut {
  color: brown;
}
#grape {
  color: violet;
}

#strawberry {
  color: lightcoral;
}
#watermelon {
  color: darkgreen;
}
